# Node environment
NODE_ENV=development

# GCP Configuration
GCP_PROJECT_ID=incident-analysis-497217
# GCP_CREDENTIALS_PATH=/path/to/gcp-credentials.json
GOOGLE_APPLICATION_CREDENTIALS=./credentials/watcher-service-key.json

# GCP Pub/Sub
PUBSUB_TOPIC=incidents

# Kubernetes Configuration
K8S_IN_CLUSTER=false
KUBECONFIG=/Users/Pankaj/.kube/config

# Services and namespaces to monitor (comma-separated)
SERVICES_TO_MONITOR=api-service
NAMESPACES_TO_MONITOR=services


# Polling intervals (in milliseconds)
METRICS_POLL_INTERVAL=30000
POD_POLL_INTERVAL=30000
LOG_FETCH_WINDOW=300000
